In [33]:
import numpy as np
import pylab as pl
%matplotlib inline

In [34]:
dataset_folder = "../datasets/"

In [35]:
import sys
sys.path.insert(0, '../platemate/src/')
import platemate as pm

In [36]:
ColumnNames = {
    "Z10M" : "A",
    "Z5M"  : "B",
    "Z10A" : ["C1","C4"],
    "Z5A"  : ["C5","C12","D1","D12"],
    "Z10T" : ["E1","E4"],
    "Z5T"  : ["E5","E12","F1","F12"],
    "Z5S"  : ["G"]
    }

controlNames = {
    "cc1690"  : ["H1","H6"],
    "TAP"     : ["H7","H9"],
    "mcherry" : ["H10","H12"]
    }

In [212]:
reload(pm)
experiment = pm.PlateMate( colonyMap = ColumnNames, controlMap = controlNames )

Confirming that PlateMate is now aware of the colony names.

In [213]:
print experiment.getColonyNames()

['Z5S', 'Z10A', 'Z5T', 'Z10M', 'Z5A', 'Z10T', 'Z5M']

Finding the files to be read

In [214]:
experiment.findFiles("20161003 pJP22mcherry", extension = "xlsx", path = dataset_folder)
print experiment.FLlist

['../datasets/20161003 pJP22mcherry 01.xlsx'
 '../datasets/20161003 pJP22mcherry 02.xlsx'
 '../datasets/20161003 pJP22mcherry 03.xlsx']

In [215]:
experiment.readfromSpreadSheet(36)

../datasets/20161003 pJP22mcherry 01.xlsx
(1, 96)
../datasets/20161003 pJP22mcherry 02.xlsx
(2, 96)
../datasets/20161003 pJP22mcherry 03.xlsx
(3, 96)

,A00,A01,A02,A03,A04,A05,A06,A07,A08,A09,...,H02,H03,H04,H05,H06,H07,H08,H09,H10,H11
0,5906,4512,4368,5048,4359,4401,4593,5385,21265,4597,...,4384,4112,3809,4688,4655,3650,3925,28013,29253,29582
1,3787,2659,2625,3443,3499,3463,2965,2913,2970,4617,...,4019,5072,4472,2518,5684,5602,5116,14484,14418,15222
2,3529,3618,3294,3715,3618,3813,4163,4105,4290,3855,...,3448,5788,4834,3485,5926,4888,5125,19756,19817,19479